@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../media/type/SourceSansPro-Light.woff2') format('woff2'),
        url('../../media/type/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../media/type/SourceSansPro-Bold.woff2') format('woff2'),
        url('../../media/type/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../media/type/SourceSansPro-Regular.woff2') format('woff2'),
        url('../../media/type/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../media/type/SourceSansPro-Black.woff2') format('woff2'),
        url('../../media/type/SourceSansPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../media/type/SourceSansPro-Semibold.woff2') format('woff2'),
        url('../../media/type/SourceSansPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Gothic';
    src: url('../../media/type/LeagueGothic-Regular.woff2') format('woff2'),
    url('../../media/type/LeagueGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}